* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width : 420px;
  height: 320px;
  display : table-cell;
  vertical-align:middle;
  text-align:center;
  border : 2px solid navy;
  background-color: #ddd;

}

.inner {

  display: inline-block;
  text-align:right;
}
label {
  display : inline-block;
  width: 100px;
  padding-right: 15px;
  text-align: right;
}

input {
  display : inline-block;
  width:160px;
  padding : 10px;
  margin : 15px 0;
  border : 1px solid black;
}
button {
  font-size: 16px;
  padding :10px;
  margin:15px 0;
  text-align: center;
  background-color: white;
}