body{
    height:100vh;
    display: flex;
    flex-direction: column;
  }
  
  header,footer{
    flex-basis : 20%;
    margin: 0.2em;
    background-color: tomato ;
    text-align: center;
    font-size: 300%;
    
  }
  
   
        
  main{
    flex-grow : 1;
    display: flex;
    text-align: center;
  
  
  }
  
  nav{
    flex-basis: 20%;
    background :lightgreen;
     margin: 0.2em;
      min-height: 8em;
      padding: 0.5em;  
      width: 10%;
      text-align: center;
  }
  article{
    flex-grow:1;
    flex-basis: 20%;
    background : lightblue;
  }
  aside{
    flex-basis: 20%;
    background : lightgreen;
     margin: 0.2em;
      min-height: 8em;
      padding: 1em;
      width: 20%;
  }
  