body {

    background-color:aqua;
}
h3 {
    color:blueviolet;
}
h4 {
    
    color:blueviolet;
    border:6px solid green;
    margin-auto;
    width:60%;
    padding:10px;
    background-color:grey;
 

}
</body>